:root {
  font-family: 'Manrope', sans-serif;
  color: #1e2923;
  background: #fff;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

button,
a {
  font: inherit;
}

#root {
  min-height: 100vh;
}
